
<tbody>
    {% for student, edit_form in student_forms %}
    <tr>
        <td class="py-3 px-4">{{ student.student_id }}</td>
        <td class="py-3 px-4">{{ student.first_name }}</td>
        <td class="py-3 px-4">{{ student.last_name }}</td>
        <td class="py-3 px-4">{{ student.email }}</td>
        <td class="py-3 px-4">{{ student.contact_number }}</td>
        <td class="py-3 px-4">
            <div class="d-flex flex-column flex-sm-row gap-2">
                <button class="btn btn-primary btn-sm rounded-2 px-3" onclick="openModal('editStudentModal{{ student.student_id }}')">Edit</button>
            </div>
        </td>
    </tr>
    {% empty %}
    <tr><td colspan="6" class="text-center py-4">No students found.</td></tr>
    {% endfor %}
</tbody>
